@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gabarito", cursive;
}
p {
  font-size: 1.8rem;
}
html {
  font-size: 62.5%;
}

.head {
  display: flex;
  padding: 1rem 2rem;
  gap: 50vw;
  background-color: rgb(240, 248, 251);
  justify-content: space-around;
}
.social {
  display: flex;
  gap: 1.5rem;
  height: 2rem;
}
.social {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.log-In {
  display: flex;
  gap: 0.8rem;
}
.sign-up {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  border-right: 0.1rem solid black;
}
.nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 10rem;
  justify-content: space-between;
  /* border-bottom: 0.1rem solid black; */
}

.Call-Working {
  display: flex;
  gap: 1rem;
}
.common-style-nav {
  align-items: center;
  gap: 0.5rem;
  display: flex;
}
.common-style-menu p {
  font-size: 1.2rem;
}
/* ================menu component css================= */

.menu {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.select {
  border: none;
  outline: none;
  background-color: #fff;
}
.select-cities {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}
.search {
  width: 25%;
  text-align: center;
}
.input_search {
  display: flex;
  width: 20rem;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(252, 203, 7);
}
.search-cities {
  padding: 0.8rem 0.5rem;
  outline: none;
  border-radius: 0.5rem;
  border: 0.2rem solid rgb(252, 203, 7);
  width: 20rem;
}
.search-icon {
  padding: 0.2rem;
}
.hidden_div {
  display: none;
}

.toggle_menu {
  font-size: 2.5rem;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.toggle {
  width: 118%;
  height: 70vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 4rem;
  left: -15rem;
  z-index: 99;
}
.box {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.flex_box .select {
  background: transparent;
  font-size: 2.8rem;
  color: #fff;
}

/*====================== Center-section css================================================== */

.center_section {
  position: relative;
  height: 70vh;
  width: 100%;
  background-image: url(./assest/Slider-Main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main_Heading {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}
.heading {
  font-size: 3.5rem;
  word-spacing: 0.3rem;
  letter-spacing: 0.1rem;
}
.highlight {
  color: rgb(241, 8, 8);
}
.btn {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  background-color: rgb(241, 8, 8);
  border-radius: 2rem;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.banquet_info {
  width: 80%;
  display: grid;
  align-items: center;
  padding: 0rem 0.8rem;
  column-gap: 0.5rem;
  grid-template-columns: 1fr 0.8fr 0.8fr 0.2fr;
  box-shadow: 0.2rem 0.2rem 0.5rem gray;
  height: 6vh;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  background-color: #fff;
  transform: translateX(-50%);
}
.about_banquet {
  justify-content: space-between;
  height: 2.8rem;
  padding: 0.2rem 1rem;
  display: flex;
  align-items: center;
  background-color: rgb(217, 212, 212);
}
.banquet-info-search-button {
  display: flex;
  align-items: center;
  background-color: rgb(241, 8, 8);
  border: none;
  outline: none;
  height: 2.8rem;
  justify-content: space-around;
  color: #fff;
  padding: 0.3rem 0.5rem;
}

/* =========================cities component css======================================= */
.cities {
  width: 80%;
  margin: 8rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 0rem;
}
.cities img {
  width: 100%;
}

/*============================== Banquets components=================================== */
.our_top_banquets {
  width: 80%;
  margin: auto;
}
.banquets_card {
  margin: 5rem 0rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
.common_card img {
  width: 100%;
}
.top_banquets {
  text-align: center;
}
.top_banquets p {
  font-size: 2rem;
}
.common_card {
  position: relative;
  background-color: rgb(238, 233, 233);
  border: 0.1rem solid gray;
  border-radius: 1rem;
  overflow: hidden;
}
.rating {
  float: left;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
}
.banquet_Rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub_card {
  position: absolute;
  padding: 2rem;
  background-color: #fff;
  bottom: 0;
  right: 0;
  width: 75%;
}
.pink_heading {
  color: rgb(249, 128, 148);
}
.yellow_heading {
  color: #ffd700;
}
.green_heading {
  color: rgb(9, 239, 113);
}
.sub_card_heading {
  text-align: center;
}
.sub_card_highlight {
  color: rgb(66, 66, 159);
}
.sub_card_flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 0rem;
}
.sub_card p {
  font-size: 1.5rem;
}
.find_more_banquet {
  text-align: center;
  margin-bottom: 5rem;
}

/* ========================find and enjoy banquets component================================== */

.Steps {
  width: 80%;
  margin: 5rem auto;
}
.Steps h1 {
  text-align: center;
  margin-bottom: 5rem;
}
.simple_steps {
  width: 90%;
  margin: auto;
}
.find_banquet {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.banquet_steps {
  display: grid;
  grid-template-rows: repeat(3, 0.5fr);
  margin-left: 5rem;
  align-items: center;
  justify-content: center;
  row-gap: 1.2rem;
}
.banquet_steps img {
  width: 2.5rem;
}
.compOne {
  position: relative;
}
.compOne::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 50%;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(242, 29, 29);
}
.compTwo {
  position: relative;
}
.compTwo::after {
  content: "";
  position: absolute;
  top: 82%;
  left: -50%;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(252, 203, 7);
}
.compThird {
  position: relative;
}
.compThird::after {
  content: "";
  position: absolute;
  top: 82%;
  left: 50%;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(0, 179, 255);
}

/* ==========================================grow component css================================================== */
.growth {
  width: 100%;
  background: url(./assest/Map.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 5rem;
}
.Growth_img {
  width: 40rem;
  height: 40rem;
}
.banquet_growth {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banquet_fasttest_growth {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.about_growth {
  display: flex;
  gap: 5rem;
}
.about_growth h1 {
  color: rgb(241, 8, 8);
}
/* ===========================offer component css============================== */

.offers {
  width: 80%;
  margin: 8rem auto;
}
.offers h1 {
  position: relative;
}
.offers h1::after {
  position: absolute;
  content: "";
  width: 20%;
  top: 50%;
  height: 0.2rem;
  left: 20%;
  background-color: rgb(24, 165, 130);
}
.offers_for_you {
  width: 90%;
  margin: 5rem auto;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}
.first_offer_comp {
  background-color: rgb(241, 8, 8);
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  border-radius: 2rem 2rem 0 2rem;
  padding: 5rem;
  color: #fff;
}
.first_offer_heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.offer_btn {
  color: white;
  padding: 1.5rem 0.5rem;
  border-radius: 50%;
  border: 0.1rem solid #fff;
  background-color: rgb(241, 8, 8);
  margin-top: 5rem;
  cursor: pointer;
}
.offer_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.offer_button {
  border: none;
  outline: none;
  width: 10rem;
  border-bottom: 0.2rem solid;
  cursor: pointer;
}
.common_offer_card {
  border-radius: 2rem 2rem 0 2rem;
  padding: 2rem;
}
.offer_lorem {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}
/*======================== footer componennts================== */
footer {
  background-color: #fdfd96;
  padding-top: 5rem;
}
.footer_about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
}
.footer_about p {
  font-size: 1.5rem;
}
.footer_about img {
  width: 18rem;
}
.container {
  gap: 1rem;
  height: 20vh;
  display: grid;
  width: 95%;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
}
.footer_links {
  border-left: 0.1rem solid black;
  padding: 1rem 0rem 0rem 1rem;
}
ul {
  font-size: 1.5rem;
  list-style-type: none;
  line-height: 1.8rem;
}
ul li {
  margin-top: 0.2rem;
}
.footer_conditions {
  border-left: 0.1rem solid black;
  padding: 1rem 0rem 0rem 1rem;
}

.footer_submit {
  border-left: 0.1rem solid black;
  padding: 1rem 0rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer_submit label {
  font-size: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
form input {
  padding: 0.5rem 1rem;
}
.submit {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  background-color: rgb(241, 8, 8);
}
.footer_bottom_section {
  background-color: #ffd700;
  padding: 1.8rem 0;
}
.footer_bottom_section p {
  text-align: center;
}

@media (max-width: 1050px) {
  html {
    font-size: 56.25%;
  }
  p {
    font-size: 1.5rem;
  }
  .head {
    gap: 36vw;
  }
  .banquet-logo {
    width: 25rem;
  }
  .input_search {
    width: 25rem;
  }
  .select-cities {
    width: 60%;
  }
  .simple_steps {
    width: 90%;
  }
  .our_top_banquets {
    width: 90%;
  }
}

@media (max-width: 790px) {
  html {
    font-size: 50%;
  }
  p {
    font-size: 1.2rem;
  }
  .hidden_div {
    display: block;
  }
  .toggle {
    width: 105%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 4rem;
    left: -1rem;
    z-index: 99;
  }
  .select-cities {
    display: none;
  }
  .nav {
    width: 95%;
  }
  .Call-Working {
    gap: 0.2rem;
  }
  .banquet-info-search-button {
    padding: 0.4rem 0.5rem;
  }
  .select-cities {
    width: 75%;
  }
  .input_search {
    width: 25rem;
  }

  .about_banquet img {
    width: 3rem;
    height: 3rem;
  }
  .common-style-nav {
    gap: 0.2rem;
  }
  .our_top_banquets {
    width: 95%;
  }
  .banquets_card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .rating {
    margin: 0.5rem;
  }
  .Steps {
    width: 90%;
  }
  .item1 img {
    width: 35rem;
  }
  .simple_steps {
    width: 100%;
  }
  .search {
    width: 40%;
  }
  .offer_button {
    font-size: 1.5rem;
  }
  .offers h1::after {
    left: 30%;
  }
}
@media (max-width: 580px) {
  html {
    font-size: 43.75%;
  }
  .head {
    gap: 20vw;
  }
  .banquet-logo {
    width: 18rem;
  }
  .banquet-info-search-button {
    padding: 0.3rem 0.5rem;
  }
}
@media (max-width: 500px) {
  form input {
    padding: 0.5rem 0.8rem;
    width: 15rem;
  }
  .banquet-logo {
    width: 16rem;
  }
  .about_banquet img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .search-cities {
    width: 20rem;
  }
  .offers {
    width: 98%;
  }
  .our_top_banquets {
    width: 98%;
  }

  .banquets_card {
    gap: 1rem;
  }
  .rating {
    margin: 0.5rem;
  }
  .sub_card {
    padding: 0.8rem;
  }
  .banquet_growth {
    width: 96%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 37.5%;
  }
  p {
    font-size: 1rem;
  }
  .head {
    gap: 15vw;
  }
  .banquet-logo {
    width: 12rem;
  }
  .banquet-info-search-button img {
    width: 1.8rem;
    height: 1.8rem;
  }
  .common-style-nav img {
    width: 3rem;
  }
  .select {
    font-size: 2rem;
    width: 13rem;
  }
  .banquet_info {
    width: 90%;
  }
  .search-cities {
    width: 40%;
  }
  .search-cities {
    width: 20rem;
  }
  .Steps {
    width: 95%;
  }
  .item1 img {
    width: 25rem;
  }
  .Growth_img {
    width: 30rem;
    height: 30rem;
  }
  .offers_for_you {
    gap: 1.8rem;
  }
  .first_offer_comp {
    padding: 3rem;
  }
  .common_offer_card {
    padding: 1rem;
  }
  .container {
    width: 98%;
  }
  form input {
    padding: 0.5rem 0.8rem;
    width: 15rem;
  }
  .footer_about {
    padding: 0.2rem;
  }
  .footer_links {
    padding: 0.2rem 0rem 0rem 0.2rem;
  }
  .footer_conditions {
    padding: 0.2rem 0rem 0rem 0.2rem;
  }
  .footer_submit {
    padding: 0.2rem 0rem 0rem 0.2rem;
  }
}
@media (max-width: 300px) {
  .banquet-logo {
    width: 10rem;
  }
  .search {
    width: 50%;
  }
  .Steps {
    width: 98%;
  }
  .item1 img {
    width: 18rem;
  }
  .select-cities {
    width: 60%;
  }
  .Growth_img {
    width: 25rem;
    height: 25rem;
  }
  .rating {
    margin: 0;
  }
  .sub_card {
    padding: 0.2rem;
    width: 61%;
  }

  .offers_for_you {
    width: 95%;
  }
  .offer_card img {
    width: 6rem;
  }
  .footer_about img {
    width: 12rem;
  }
}
