* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.head {
  display: flex;
  padding: 1rem 2rem;
  background-color: rgb(240, 248, 251);
  justify-content: space-between;
}
.social {
  display: flex;
  gap: 1.5rem;
}
.log-In {
  display: flex;
  gap: 0.8rem;
}
.sign-up {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  border-right: 0.1rem solid black;
}
.menu {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.Call-Working {
  display: flex;
  gap: 1rem;
}
.common-style-menu {
  align-items: center;
  gap: 0.5rem;
  display: flex;
}
